<% provide(:title, "Staff Information") %>

<%= render 'shared/subheader' %>

<h1>Case Staff</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <% if @case.staff.present? %>
      <% @staff.each do |staf| %>
        <tr>
          <td><%= staf.name %></td>
          <td><%= staf.position %></td>
        </tr>
      <% end %>
        <% else %>
        <td>You must <%= link_to "Add Staff", new_client_case_staff_path(@client,@case) %></td>
    <% end %>
  </tbody>
</table>
