<!-- Header -->
<a name="about"></a>
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1 id="ntitle">CLARLEGAL</h1><br>
          <h3>Bring Clarity to your Law Firm's Financial Planning and Analysis<br></h3><br><br>
          <h3></h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li><%= link_to 'Sign Up', new_user_path, class: "btn btn-success btn-lg" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.intro-header -->

<!-- Page Content -->
<a  name="howitworks"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Project Performance and Profitabiltiy</h2>
        <p class="lead">Understanding profitability is critical to the success of your law firm, especially in today's challenging legal environment.  But assessing profitability across cases, practice areas, and multiple offices can be difficult. </p><p class="lead">ClarLegal offers a simple, intuitive way to use the case data that firms already collect to analyze firm profitability retrospectively and to project profitability into the future. </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'practice_group.png', class: 'img-responsive', id: "practice-group" %>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Analyze Your Case Inventory</h2>
        <p class="lead">By gathering key data points during initial case intake, and updating it periodically through the life of the case, ClarLegal enables you to analyze past earnings and project profitability and cash flow.  </p><p class="lead">It also allows you to understand past performance and projections by various factors such as case type, practice group, fee type, origination source and client. </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'fee_updated.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Data-Driven Success</h2>
        <p class="lead">In an environment of increased competition, efficiency of delivery and cost control have become critical to your firm's bottom-line.</p><p class="lead"> ClarLegal allows your firm to understand the money you've earned and help make data-driven predictions for your future success.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'client_profitability.png', class: 'img-responsive', id: "client-profitability" %>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->

<a  name="contact"></a>
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
          <h2>Learn More</h2>
          <h4>We'd love to talk with you.  Request a demo today.</h4>
      </div>
      <div class="col-sm-6">
            <div class="email-form">
              <input name='email' type="text" id="email-subscription" class="form-control" placeholder="Email Address">
              <input type="submit" value="Contact ClarLegal" name="Contact ClarLegal" class="button btn btn-primary btn-lg" id="subscription">
            </div>
        <!-- <ul class="list-inline banner-social-buttons">
          <li>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.banner -->
