<% provide(:title, "Case Dates") %>

<%= render 'shared/subheader' %>

<h1>Case Timing</h1>

<h2> Date Opened: <%= @timing.date_opened %></h2>
<h2> Estimated Conclusion: <%= @timing.estimated_conclusion_date %></h2>

<h2> <%= link_to "Edit Dates and Timing", edit_client_case_timing_path(@client, @case, @timing) %></h2>
