<% provide(:title, 'Matter Types') %>
<h2> Matter Types</h2>


<table id="matterTypes" class="display">
  <thead>
    <tr>
      <th>Matter Types</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
      <% @case_types.each do |matter_reference| %>
       <tr>
        <td><%= matter_reference.mat_ref %></td>
        <td><%= link_to "Edit", edit_user_lawfirm_case_type_path(current_user.id,current_user.lawfirm_id,matter_reference) %></td>
      <% end %>
  </tbody>
</table>



<div class='center'>
  <%= link_to 'Add Matter Type', new_user_lawfirm_case_type_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm.id), class: 'btn btn-md btn-primary' %>
</div>
