<% provide(:title, "Case Origination") %>

<%= render 'shared/subheader' %>

<h2>Case Origination</h2>
<table id="caseOriginations" class="display">
  <thead>
    <tr>
      <th>Referral Source</th>
      <th>Further Source Info</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @origination.referral_source %></td>
      <td><%= @origination.source_description %></td>
    </tr>
  </tbody>
</table>

<br>
<br>

<h2><%= link_to "Update Case Origination", edit_client_case_origination_path(@client,@case,@origination), class: 'btn btn-md btn-primary' %></h2>
