<% provide(:title, 'Case Load') %>
<div class="chart container">

    <div class="col-xs-12 col-md-8 col-md-offset-4 col-lg-8 col-lg-offset-2">
        <div id='openCaseLoad'>
        </div>

    </div>
</div>

<script>



$(function () {


  var pieData = [<% @final_case_open.each do |d|%>
                  <%= raw d %>,
                <% end %>]

    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
            return {
                radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        });

    $('#openCaseLoad').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: "Open Cases by Practice Group"
        },
        tooltip: {
          pointFormat: 'Case Load: <b>{point.y}</b>'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}: {point.y}</b>',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            type: 'pie',
            name: "Practice Group",
            data: pieData
        }]
    });

});

</script>
