<% provide(:title, 'Pending PG Case Load') %>
<div class="chart container">

    <div class="col-lg-10 col-lg-offset-2">
        <div id='piecharthighchart' style="min-width: 310px;
                                      height: 600px; width: 600px;
                                      max-width: 600px;
                                       margin: 0 auto">
        </div>

        <div id="pieChartClosedCases" style="min-width: 310px;
                                      height: 600px; width: 600px;
                                      max-width: 600px;
                                      margin: 0 auto">
        </div>
    </div>
</div>

<script>



$(function () {


  var pieData = [<% @final_case_open.each do |d|%>
                  <%= raw d %>,
                <% end %>]

    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
            return {
                radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        });

    $('#piecharthighchart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: "Pending Cases by Practice Group"
        },
        tooltip: {
          pointFormat: 'Case Load: <b>{point.y}</b>'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}: {point.y}</b>',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            type: 'pie',
            name: "Practice Group",
            data: pieData
        }]
    });
});


$(function () {

    var pieDataClosedCases = [<% @final_case_closed.each do |d|%>
                              <%= raw d %>,
                              <% end %>]


    $('#pieChartClosedCases').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: "Closed Cases by Practice Group"
        },
        tooltip: {
          pointFormat: 'Case Load: <b>{point.y}</b>'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}: {point.y}</b>',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            type: 'pie',
            name: "Practice Group",
            data: pieDataClosedCases
        }]
    });
});

</script>
