<% provide(:title, 'PG Case Load') %>



<div id='piecharthighchart' style="min-width: 310px;
                                  height: 600px; width: 600px;
                                  max-width: 600px;
                                   margin: 0 auto">
</div>

<script>

//for Filter by PracticeGroup data will be

//all_practice_group names = current_user.lawfirm.practicegroups
//all_practice_group_length = all_practice_group.length
//current_user.lawfirm.cases.where(practice_group: ABOVEARRAY[0]).count
  var pieData = [<% @final_data.each do |d|%>
                  <%= raw d %>,
                <% end %>]


$(function () {

    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
            return {
                radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        });

    $('#piecharthighchart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Cases by Practice Group'
        },
        tooltip: {
          pointFormat: 'Case Load: <b>{point.y}</b>'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}: {point.y}</b>',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            type: 'pie',
            name: "Practice Group",
            data: pieData
        }]
    });
});


</script>
