<% provide(:title, "Add Staff") %>

<h1>Add Staff to <%= "#{@lawfirm.firm_name}" %> </h1>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">

      <% @action = "create" %>
      <%= render partial: 'form', locals: {staffing: @staffing} %>
          <!-- Begin Nested Fields (cocoon gem) -->

          <!-- End Nested Fields (cocoon gem) -->



  </div>
</div>
