<h2>Case List for <%= @staff.full_name %></h2>

<table class='table table-hover'>
  <tr>
    <th>Case Name</th>
    <th>Something Else</th>
  </tr>
    <% Staff.where(staffing_id: @staff.id).each do |casename| %>
  <tr>
      <td><%= Case.find_by(id: casename.case_id).name %></td>
      <td>Hi</td>
  </tr>
      <% end%>
</table>
