<div class='nested-fields'>

  <table class="table">
    <tr>
      <td><%= f.label "Matter Type:" %></td>
      <td><%= f.collection_select(:case_type_id, current_user.lawfirm.case_types.all, :id, :mat_ref, :include_blank => "Select") %></td>
    </tr>
  </table>
</div>
