<% provide(:title, 'Cases') %>
<h1>Client Cases</h1>



<% if @case %> <!-- does the client have cases?  If show then show them-->
  <% @case.each do |one_case| %>
   <tr>
    <td><%= link_to "#{one_case.description}", client_case_path(:client_id => @client.id, :id => one_case.id) %> | </td>
    <td>Matter References: <%= one_case.matter_reference %> | </td>
    <td>Practice Group: <%= one_case.practice_group %> | </td>qbqb<br>
  <% end %>
<% else %>
 <tr>
   <td>You must</td>
   <td><%= link_to 'Add a case', new_client_case_path(@client) %></td>
 </tr>
<% end %>
