<% provide(:title, 'Cases') %>
<h2><%= "#{@client.client_name} Cases" %></h2>


<table class="table table-hover sortable">
  <thead>
    <tr>
      <th>Case Name<br>
        (click to view)</th>
      <th></th>
      <th></th>
      <th>Practice Group</th>
    </tr>
  </thead>
  <tbody>
    <% if @case %> <!-- does the client have cases?  If show then show them-->
      <% @case.each do |one_case| %>
       <tr>
        <td><%= link_to one_case.name, client_case_path(:client_id => @client.id, :id => one_case.id) %></td>
        <td></td>
        <td></td>
        <td><%= one_case.practice_group %> </td>
      <% end %>
    <% else %>
    <% end %>
  </tbody>
</table>

<div class='center'>
  <%= link_to 'Add a Case', new_client_case_path(@client) %>
</div>
