<% provide(:title, "Case Info") %>

<h1>Case Information</h1>
<div class='case-matters'>
  <h2>Description: <%= @case.description %> </h2>
  <h2>Matter References: <%= @case.matter_reference %> </h2>
  <h2>Practice Group: <%= @case.practice_group %> </h2>
</div>
