<% provide(:title, 'All Cases') %>
<h1><%= "#{@current_user.name}'s Cases" %></h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Case Name<br>
        (click to view)</th>
      <th></th>
      <th></th>
      <th>Practice Group</th>
      <th>Client Name</th>
    </tr>
  </thead>
  <tbody>
    <% if @case %> <!-- does the client have cases?  If show then show them-->
      <% @case.each do |one_case| %>
       <tr>
        <td><%= link_to "#{one_case.name}", client_case_path(:client_id => one_case.client_id, :id => one_case.id) %></td>
        <td></td>
        <td></td>
        <td><%= one_case.practice_group %> </td>
        <td><%= one_case.client.client_name %> </td>
      <% end %>
    <% else %>

    <% end %>
  </tbody>
</table>

