<div id="actual_expected">
  <div class="row">
    <ul class="nav nav-pills center">
      <li><%= link_to "Actual", "#" %></li>
      <li class='active'><%= link_to "Expected", "#" %></li>
    </ul>
  </div>
</div>
