<div id="pgRevenueButtons">
    <div class='btn-group'>
      <%= link_to "Low Estimate", revenue_by_year_practice_group_low_path, class: "btn btn-default btn-md " + is_active_graph?('graphs','rev_by_year_by_pg_low') %>
      <%= link_to "Medium Estimate", revenue_by_year_practice_group_path, class: "btn btn-default btn-md " + is_active_graph?('graphs','rev_by_year_by_pg') %>
      <%= link_to "High Estimate", revenue_by_year_practice_group_high_path, class: "btn btn-default btn-md " + is_active_graph?('graphs','rev_by_year_by_pg_high') %>
  </div>
</div>
