<!-- For Dashboard Sidebar of Actual Amounts -->

<div class="sidebar">
  <div class="col-lg-12">
    <ul class="nav nav-pills nav-stacked">
      <li class="<%=is_active_graph?("graph_actuals","revenue_by_year") %>">
          <%= link_to "Revenue/Profit by Year", revenue_by_year_graph_actual_path %>
        </li>
      <li role='presentation'class="divider"></li>
    </ul>
  </div>
</div>
