<%= form_for(@subscriber, url: {controller: "subscribers", action: "create"}, html: {class: "form-horizontal"}) do |f| %>
  <div class="row" id="email-form-row">
    <div class="col-sm-12 col-md-8">
      <%= f.text_field :email, class: "form-control", id: 'subscribe-form', placeholder: "Enter Email" %>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_c46cf3e404f62902d724b0579_7a48d65845" tabindex="-1" value="">
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <%= f.submit "Contact ClarLegal", class: "btn btn-lg btn-primary btn-block", id: 'subscribe-button' %>
    </div>
  </div>
<% end %>
