<% provide(:title, 'Update Client Info') %>
<h1>Update Client Info</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render partial: 'form_new_client', locals: { client: @client } %>
    </div>
  </div>
</div>





