<% provide(:title, "Practice Groups") %>

<h1>Practice Groups for <%= "#{@lawfirm.firm_name}" %></h1>

<% if current_user.lawfirm.practicegroups.present? %>
  <% @prac_group.each do |firm| %>
   <tr>
    <td><%= firm.group_name %></td>   </tr> <br>
 <% end %>
<% else %>
 <tr>
   <td>You must</td>
   <td><%= link_to 'Add a Practice Group', new_user_lawfirm_practicegroup_path(:user_id => current_user.id, :lawfirm_id => current_user.lawfirm.id) %></td>
 </tr>
<% end %>
