<% provide(:title, "Case Venue") %>

<h1>Case Venue</h1>

<h2>Jurisdiction: <%=@venue.jurisdiction%></h2>
<h2>Judge: <%=@venue.judge%></h2>

<h2><%= link_to "Update Case Venue", edit_client_case_venue_path(@client,@case,@venue) %></h2
