<% provide(:title, 'About Us') %>
<body class="bg"
  <div class='center'>
    <h1>About Us</h1>
    <p>
      Visit
      <a href="http://www.clarusgroup.net">Clarus Consulting Group</a>.
    </p>
  </div>
</body>
