<% provide(:title, 'About Us') %>
<body class="bg">
  <div class='center'>
    <h1>About Us</h1>
    <p class='center'>
      <br><br>
      Visit
      <a href="http://www.clarusgroup.net">Clarus Consulting Group</a>.
    </p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</body>
