<% provide(:title, 'Contact') %>
<body class="bg">
  <div class='center'>
    <h1>Contact</h1>
    <p>
      Visit
      <a href="http://www.clarusgroup.net">Clarus Consulting Group</a>.
    </p>
  </div>
</body>
