<% provide(:title, 'Home') %>
<body class='bg'>
    <div class="center">
      <div class="titlegraph">
        <h1>CLARLEGAL</h1><br><br><br>
        <p>This is the Home Page for CLARLEGAL Web Application.  We are currently in development.
        </p>
        <br>
        <br>
        <br>
        <br>
        <% if !signed_in? %>
          <%= link_to "Sign Up", "#", class: "btn btn-large btn-primary" %>
        <% end %>
      </div>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</body>

