<% provide(:title, 'Home') %>

<div>
  <h1>Claregal</h1>
  <p>This is the Home Page for Claregal WebAPP.
    Visit <a href="http://www.clarusgroup.net/">Clarus Consulting Group </a> for more information
  </p>
  <%= link_to "Sign Up", '#', class: "btn btn-large btn-primary" %>
</div>

<!-- #need to download clarus image. -->
<%= link_to image_tag('ClarusConsultingLogo.png', alt: "Clarus Consulting Group"), 'http://www.clarusgroup.net' %>
