<% provide(:title, 'Home') %>
<body class='bg'>
    <div class="center">
      <div class="titlegraph">
        <div>
          <h1 id="title">CLARLEGAL</h1><br><br><br>
        </div>
        <div id="slogan">
          <p>Bring Clarity to your Financial Planning, Projections, and Analysis
        </div>
        </p>
        <br>
        <br>
        <br>
        <br>
        <% if !signed_in? %>
          <%= link_to "Sign Up", new_user_path, class: "btn btn-large btn-primary" %>
        <% end %>
      </div>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</body>

