<% provide(:title, 'Home') %>
<body class='bg'>
    <div class="center">
      <div class="titlegraph">
        <h1>ClarLegal</h1><br><br><br>
        <p>This is the Home Page for ClarLegal WebAPP.  We are currently in development.
          Visit <a href="http://www.clarusgroup.net/">Clarus Consulting Group </a> for more information.
        </p>
        <br>
        <br>
        <br>
        <br>
        <% if !signed_in? %>
          <%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary" %>
        <% end %>
      </div>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- <div class="center">
<%= link_to image_tag('ClarusConsultingLogo.png', alt: "Clarus Consulting Group"), 'http://www.clarusgroup.net' %>
</div> -->
</body>

