<% provide(:title, 'Pie Chart') %>


<div class='pie chart attempt'>
  <h1>Cases by Practice Group</h1>
  <div class='canvas-container center'>
    <canvas id="piechart" width="400" height="400"></canvas>
  </div>
</div>


<script src='Chart.js'>
  $(document).ready(function (){
    var pieData = [
      {
        value : 50,
        color : "#F7464A",
        highlight : "#FF5A5E",
        label : "Red",
        labelColor: "white",
        labelFontSize: "30"
      },
      {
        value: 100,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "Yellow",
        labelColor: "white",
        labelFontSize : "20"
      }
    ];//end data variable

    var myPie = new Chart(document.getElementById('piechart').getContext('2d')).Pie(pieData);
  });
</script>
