<% provide(:title, 'Update Fee') %>
<h2>Update Case Fees</h2>

<%= render 'shared/subheader' %>

    <div class="col-md-10 col-md-offset-1">
      <% @action = 'update' %>
      <%= render partial: 'form_fees', locals: {fees: @fee} %>

    </div>
