<% provide(:title, 'Case Fee') %>

<%= render 'shared/subheader' %>

<h2>Case Fee</h2>
<div class="col-md-10 col-md-offset-1">
    <% @action = 'create' %>
    <%= render partial: 'form_fees', locals: {fees: @fee} %>
</div>
