
<p>
  Dear <%= @case.primary_email %>,
</p>
<p>
  You are receiving this email because your case details are out of date. Please review
  and update the details of case id: <%= @case.id %>.
</p>
<p>Regards,</p>
<p>The ClarLegal Team</p>
