// Place all the styles related to the HomePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.bg {
  background: url(http://www.americanbar.org/content/dam/aba/images/photos/hero_features/16_supreme_court.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg h1 {
  color: #FFFFFF;
}

.bg p {
  color: #ffffff;
}

#title {
  font-family: helvetica, sans-serif;
  letter-spacing: -5px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
  font-size: 5em;
  color: white;
}

#slogan {
  color: #FFFFFF;
    font-size:20px;
    font-weight: bold;
    margin-top: -12px0px;
}




