<%= provide(:title, "Settlement Range") %>

<h2>Settlement Calculator - Range Estimate</h2>
<div class="settlement calculator">
  <div class="row">
    <div class="col-lg-12">
      <table id="settlementCalculator" class="display">
        <thead>
          <tr>
            <th>Scenario</th>
            <th>Percent Likelihood</th>
            <th>High</th>
            <th>Low</th>
            <th>High</th>
            <th>Low</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Best Case</td>
            <td><input id="bestCaseProb" class="bestcase" type="text" name="" placeholder="e.g. 10%"></td>
            <td><input id="bestCaseHigh" class="bestcase monetary" type="text" name="" placeholder="e.g. $100,000"></td>
            <td><input id="bestCaseLow" class="bestcase monetary" type="text" name="" placeholder="e.g. $10,000"></td>
            <td><span id="bestCaseHighEstimate">$</span></td>
            <td><span id="bestCaseLowEstimate">$</span></td>
          </tr>
          <tr>
            <td>Most Likely Case</td>
            <td><input id="mostLikelyCaseProb" type="text" name=""></td>
            <td><input id="mostLikelyCaseHigh" class="monetary" type="text" name=""></td>
            <td><input id="mostLikelyCaseLow" class="monetary" type="text" name=""></td>
            <td><span id="mostLikelyCaseHighEstimate">$</span></td>
            <td><span id="mostLikelyCaseLowEstimate">$</span></td>
          </tr>
          <tr>
            <td>Worst Case</td>
            <td><input id="worstCaseProb" type="text" name=""></td>
            <td><input id="worstCaseHigh" class="monetary" type="text" name=""></td>
            <td><input id="worstCaseLow" class="monetary" type="text" name=""></td>
            <td><span id="worstCaseHighEstimate">$</span></td>
            <td><span id="worstCaseLowEstimate">$</span></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
