<% provide(:title, 'Net Fee by Referral Source') %>

<div class="chart container">
  <div class="col-lg-10 col-lg-offset-2">
    <div id='revByOriginationSourceActual' style="min-width: 310px;
                                  height: 600px; width: 600px;
                                  max-width: 600px;
                                   margin: 0 auto">
    </div>
  </div>
</div>

<script type="text/javascript">

$(function () {


  var pieData = [<% @final_fee_by_origination_source.each do |d|%>
                  <%= raw d %>,
                <% end %>]

  Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
            return {
                radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        });

    $('#revByOriginationSourceActual').highcharts({
        chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 1,//null,
                plotShadow: false
            },
            credits: {
                    enabled: false
            },
            title: {
                text: 'Total Fee Received by Origination Source'
            },
            tooltip: {
              pointFormat: '<b>${point.y}</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: "Practice Group",
                data: pieData
            }]
        });
     });

</script>
